
<launch>
    <arg name="x" default = "1"/>
    <arg name="y" default = "1"/>
    <arg name="tol"default = "0.1"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>
    <node pkg="lab1" type="gotogoal.py" name="gotogoal">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="tol" value="$(arg tol)"/>
    </node>
</launch>
